<!doctype html>
{% load thumbnail %}
<html>
  <head>
    <title>Bilder {{title}}</title>
    <style type="text/css">
      div.photo.preview {
      width: 120px;
      display: inline-block;
      border: solid 1px #aaaaaa;
      margin: 0.4em;
      padding: 0.2em;
      }
      div.photo.preview p {
      text-align: center;
      font-size: 80%;
      margin: 0.2em 0;
      }
    </style>
  </head>
  <body>
    <h1>Bilder {{title}}</h1>
    
    {% for d in dates %}
      {% ifchanged %}
        <h2>{{d.odate|date:"F Y"|capfirst}}</h2>
      {% endifchanged %}

      <div class="photo preview">
	<!-- {{p.img.path}} -->
	{% thumbnail d.photo.img "100x100" as im %}
	  <p><img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}"/></p>
	{% empty %}
	  <p>(no thumbnail)</p>
	{% endthumbnail %}

        <p>{{d.odate}}: <a href="{{d.url}}">{{d.n}} bilder</a></p>
      </div>
    {% endfor %}
  </body>
</html>

