{% extends 'base.html' %}
{% load thumbnail %}

{%block 'title'%}Bild #{{photo.id}}{%endblock%}

{%block main%}
    <h1>Bild #{{photo.id}}</h1>
    
    <div class="photo">
        <!-- {{photo.img.path}} -->
        {% thumbnail photo.img "700x700" as im %}
        <p><img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}"/>
        </p>
        {% empty %}
        <p>(no thumbnail)</p>
        {% endthumbnail %}
        <dl class="metadata">
          <dt>Datum</dt>
          <dd>{{photo.date}}</dd>
          
          <dt>Kamera</dt>
          <dd>{{photo.camera}}</dd>
	  
	  <dt>Upplösning</dt>
	  <dd>{{photo.img.width}} × {{photo.img.height}} pixlar</dd>
        </dl>
    </div>
{%endblock%}
