{% extends 'base.html' %}
{% load photo %}

{%block 'title'%}Bild #{{photo.id}}{%endblock%}

{%block main%}
    <h1>Bild #{{photo.id}}</h1>
    
    <div class="photo">
        <p>{% img photo 700 %}</p>
        <dl class="metadata">
          <dt>Datum</dt>
          {% with photo.date as d %}
          <dd><a href="{{d|date:'/Y/m/d/'}}">{{d|date:'l j F Y'}}</a>
            {{d|date:'H:i:s'}}</dd>
          {% endwith %}
          
          <dt>Kamera</dt>
          <dd>{{photo.camera}}</dd>
	  
	  <dt>Upplösning</dt>
	  <dd>{{photo.img.width}} × {{photo.img.height}} pixlar</dd>
	  
	  {% if photo.keywordtag_set.all %}
	  <dt>Taggar</dt>
	  <dd>{% for tag in photo.keywordtag_set.all %}
	    <a href="{% url tag_index tag %}">{{tag}}</a>
	    {% endfor %}</dd>
	  {% endif %}

	  {% if photo.persontag_set.all %}
	  <dt>Personer</dt>
	  <dd>{% for tag in photo.persontag_set.all %}
	    <a href="{% url person_index tag %}">{{tag}}</a>
	    {% endfor %}</dd>
	  {% endif %}

	  {% if photo.placetag_set.all %}
	  <dt>Plats</dt>
	  <dd>{% for tag in photo.placetag_set.all %}
	    <a href="{% url place_index tag %}">{{tag}}</a>
	    {% endfor %}</dd>
	  {% endif %}
        </dl>
    </div>
{%endblock%}
